.form {
  margin-left: 2.6rem;
  display: flex;
  gap: 15px;
  justify-content:center;

  .form__input {
    padding: 5px;
    font-size: 16px;
    border-width: 2px;
    border-color: #cccccc;
    background-color: #ffffff;
    color: #000000;
    border-style: solid;
    border-radius: 50px;
  }

  .form__button {
    background: #ffffff;

    border-radius: 28px;
    border: 1px solid black;
    color: #000000;
    font-size: 19px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
  }
}
