.todo {
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 0.7rem 1.2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.todo__input {
  margin-right: 0.8rem;
}

.done {
  text-decoration: line-through;
}

.todo__button {
  background: #ffffff;

  border-radius: 28px;
  border: 1px solid black;
  color: #f13030;
  font-size: 17px;
  padding: 7px 9px;
  text-decoration: none;
  cursor: pointer;
}
